div{
    background-color: aquamarine;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 5px;
}
article{
    margin: 10px;
}
.container-fs{
    width: 300px;
    height: 300px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.container-fs-c{
    width: 300px;
    height: 300px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-fs-r-ai{
    width: 300px;
    height: 300px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.container-fs-r-ai-ac{
    width: 300px;
    height: 300px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: flex-end; */
    align-content: center;
}